// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-post, .post {
  .content {
    margin-left: 60px;
    padding: 5px 15px;
    .text {
      font-size: 1.5rem;
    }

    .attachment {
      border: 1px solid #e0e0e0;
      padding: 5px;
      margin-top: 10px;
      img {
        width: 100%;
      }
    }
  }
}